doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/main.css')
        script(src='/js/jquery-3.4.1.min.js')
    body
        div.navBar
            table
                tr
                    th #[a(class='navButton homeImg' href='/')]
                    th #[button(type='button' class='navButton' onclick='window.location.href="/search";') Search]
                    th #[button(type='button' class='navButton' onclick='window.location.href="/upload";') Upload]
                    if !user
                        th #[button(type='button' class='navButton' onclick='window.location.href="/login";') Login]
                    else
                        th #[button(type='button' class='navButton' onclick='window.location.href="/logout";') Logout]
                        th #[p= user["userName"]]
        div.content
            block content
