extends layout

block content
    h1= title
    p Please sign in to continue using Natures Palette.
    div.center
        div.login-page
            div.form
                form.register-form(id='RegisterForm' action='/login' method='post' encType='multipart/form-data')
                    input(type="text" name="userName" placeholder="user name")
                    input(type="password" name="password" placeholder="pasword")
                    input(type="text" name="email" placeholder="email id")

                    button(name = "createButton")
                        | create
                    p.message
                        | Already Registered?
                        a(href="#")
                            | Login

                form.login-form(id='loginForm' action='/login'+'?redir='+redir method='post' encType='multipart/form-data')
                    input(type="text" name="userName" placeholder="username")
                    input(type="password" name="password" placeholder="pasword")
                    button(name = "LoginButton")
                        | login
                    p.message
                        | Not Registered?
                        a(href="#")
                            | Register
        if msg
            div(style='text-align: center; color: red;')
                pre(style='display: inline-block; background-color: #FFFFFFAA; border-radius: 8px; padding: 10px;')= msg

    script.
        $('.message a').click(function(){
        $('form').animate({height:"toggle", opacity: "toggle"}, "slow");});

