extends layout

block content
    h1= title
    p This is an upload page

    div(class='submissions')
        div(class='upload submission1')
            table
                tr
                    td
                        h2 Submission Instructions
                        pre 
                            | To use this upload tool you will have to fill out a few Dublin core fields in the next page.
                            | This information is used to help catagorize the data and store it correctly.
                            | If the data has been published or has an embargo period, you will be asked to 
                            | fill out additional fields for the upload.
                        pre
                            | On the third page you will have to upload a metadata file in CSV format as well as
                            | an archive of raw files in ZIP format.
                            | You can find templates for each of the metadata formats down below.
                        pre
                            | If you agree to these terms and instructions, please check mark the agree
                            | option from the box below and click to start.
                tr
                    td
                        label 
                            input(type='checkbox' id='sub1Check')
                            | I agree
                tr
                    td
                        input(type='button' value='Start' onClick="nextSub(2)")
            
        div(class='upload submission2' style='display: none;')
            h2 Submission Steps
            p Basic Information
            form(rel='uploadInfoForm' action='/upload' method='post' encType='multipart/form-data')
                table(id="uploadInfo" style='padding: 10px; text-align: left;')
                    tr  
                        td
                            label
                                | Name: 
                                span(style='color: red; ') * 
                    tr
                        td
                            input(id='nameF' type='text' placeholder="First Name" name='nameF' form='uploadForm')
                        td
                            input(id='nameL' type='text' placeholder="Last Name" name='nameL' form='uploadForm')
                    tr
                        td
                            label
                                | Email: 
                                span(style='color: red; ') * 
                        td
                            label Institution Affiliation
                    tr
                        td
                            input(id='email' type='text' name='email' form='uploadForm')
                        td
                            input(id='institution' type='text' name='institution' form='uploadForm')
                    tr
                        td
                            label Type of Data: 
                        td
                            label Data From: 
                    tr
                        td
                            select(id='typeOfData' name='typeOfData' form='uploadForm')
                                option(value='reflectance')
                                    | Reflectance
                                option(value='transmittance')
                                    | Transmittance
                                option(value='irradiance')
                                    | Irradiance
                        td
                            select(id='dataFrom' name='dataFrom' form='uploadForm')
                                option(value='museum')
                                    | Museum
                                option(value='field')
                                    | Field
                    tr
                        td Has the data been published?
                        td(id='refLabel' style='display: none;') Reference: 
                            span(style='color: red') *
                        td(id='doiLabel' style='display: none;') DOI: 
                            span(style='color: red') *
                    tr
                        td
                            label
                                input(id='publishedY' type='radio' name='publishRadio' value='true' onclick='makePublishVisible()' form='uploadForm')
                                | Yes
                            label
                                input(id='publishedN' type='radio' name='publishRadio' value='false' onclick='makePublishInvisible()' form='uploadForm' checked)
                                | No
                        td
                            input(id='reference' type='text' style='display: none;' name='reference' form='uploadForm')
                        td
                            input(id='doi' type='text' style='display: none;' name='doi' form='uploadForm')
                    tr
                        td Embargo?
                        td(id='dateLabel' style='display: none;') Date:
                    tr
                        td
                            label.radio-inline
                                input(id='embargoY' type='radio' name='embargoRadio' value='true'  onclick="makeDateVisible()" form='uploadForm')
                                | Yes
                            label.radio-inline
                                input(id='embargoN' type='radio' name='embargoRadio' value='false' onclick="makeDateInvisible()" form='uploadForm' checked)
                                | No
                        td
                            input(id='date' type='date' name='date' style='display: none;' form='uploadForm')
                input(type='button' value='Next' onClick="nextSub(3)")

        div(class='upload submission3' style='display: none;')
            h2 Submission Steps
            p Upload Files
            form(id='uploadForm' action='/upload' method='post' encType='multipart/form-data')
            table
                tr
                    td
                        label 
                            | MetaData File: 
                            span(style='color: red;') *
                    td
                        label 
                            | Raw Files: 
                            span(style='color: red;') *
                tr  
                    td
                        input(type='file' name='meta' form='uploadForm')
                    td
                        input(type='file' name='raw' form='uploadForm' multiple)
                tr
                    td
                        input(type='button' value='Back' onclick='nextSub(2)') 
                    td
                        input(type='submit' value='Upload' form='uploadForm')
    div(style='text-align: center;')
        pre.uploadMsg= msg
    br
    div(style='text-align: center;')
        div(class='uploadTemplate')
            p Template for 
                b Reflectance 
                | metadata.
            a(href="/templateUploadDownload?type=reflectanceF")
                | Field
            a(href="/templateUploadDownload?type=reflectanceM")
                | Museum
        br
        div(class='uploadTemplate')
            p Template for 
                b Transmittance 
                | metadata.
            a(href="/templateUploadDownload?type=transmittanceF")
                | Field
            a(href="/templateUploadDownload?type=transmittanceM")
                | Museum
        br
        div(class='uploadTemplate')
            p Template for 
                b Irradiance 
                | metadata.
            a(href="/templateUploadDownload?type=irradianceF")
                | Field
            a(href="/templateUploadDownload?type=irradianceM")
                | Museum
        

    script.
        $('#uploadInfo #date').ready(function() {
            let date = new Date();
            let year = date.getFullYear();
            let month = date.getMonth() + 1;
            let day = date.getDate();
            $('#uploadInfo #date').attr('min', year + '-' + month + '-' + (day + 1));
            $('#uploadInfo #date').attr('max', (year + 1) + '-' + month + '-' + day);
        });

        function makeDateVisible() {
           $('#uploadInfo #date').show();
           $('#uploadInfo #dateLabel').show();
        }
        function makeDateInvisible() {
           $('#uploadInfo #date').hide();
           $('#uploadInfo #date').val("");
           $('#uploadInfo #date').removeClass("error1");
           $('#uploadInfo #dateLabel').hide();
        }
        function makePublishVisible() {
           $('#uploadInfo #reference').show();
           $('#uploadInfo #doi').show();
           $('#uploadInfo #refLabel').show();
           $('#uploadInfo #doiLabel').show();
        }
        function makePublishInvisible() {
           $('#uploadInfo #reference').hide();
           $('#uploadInfo #reference').val("");
           $('#uploadInfo #reference').removeClass("error1");
           $('#uploadInfo #doi').hide();
           $('#uploadInfo #doi').val("");
           $('#uploadInfo #doi').removeClass("error1");
           $('#uploadInfo #refLabel').hide();
           $('#uploadInfo #doiLabel').hide();
        }

        function nextSub(sub) {
            $('.uploadMsg').text('');
            switch(sub) {
                case 2:
                    if ($('#sub1Check').is(":checked")) {
                        $('#sub1Check').parent().removeClass("error1");
                        $('.submission1').hide();
                        $('.submission3').hide();
                        $('.submission2').show();
                    }
                    else {
                        $('#sub1Check').parent().addClass("error1");
                    }
                    break;
                case 3:
                    if (checkFields()) {
                        $('.submission2').hide();
                        $('.submission3').show();
                    }
                    break;
            }
        }

        function checkFields() {
            let fieldList = ['#nameF', '#nameL', '#email', '#date', '#reference', '#doi'];

            if ($('#uploadInfo #nameF').val() === '') {
                $('#uploadInfo #nameF').addClass('error1');
            }
            else {
                $('#uploadInfo #nameF').removeClass('error1');
            }
            if ($('#uploadInfo #nameL').val() === '') {
                $('#uploadInfo #nameL').addClass('error1');
            }
            else {
                $('#uploadInfo #nameL').removeClass('error1');
            }
            if ($('#uploadInfo #email').val() === '') {
                $('#uploadInfo #email').addClass('error1');
            }
            else {
                $('#uploadInfo #email').removeClass('error1');
            }
            if ($('#uploadInfo #embargoY').is(":checked")) {
                // Todo: compute calculations in UTC.
                let dateCalc = (new Date() - new Date($('#uploadInfo #date').val()))/1000/60/60/24/365;
                if ($('#uploadInfo #date').val() === '' || dateCalc < -1 || dateCalc >= 0) {
                    $('#uploadInfo #date').addClass('error1');
                }
                else {
                    $('#uploadInfo #date').removeClass('error1');
                }
            }
            if ($('#uploadInfo #publishedY').is(":checked")) {
                if ($('#uploadInfo #reference').val() === '') {
                    $('#uploadInfo #reference').addClass('error1');
                }
                else {
                    $('#uploadInfo #reference').removeClass('error1');
                }
                if ($('#uploadInfo #doi').val() === '') {
                    $('#uploadInfo #doi').addClass('error1');
                }
                else {
                    $('#uploadInfo #doi').removeClass('error1');
                }
            }

            for (let i=0; i < fieldList.length; i++) {
                if ($('#uploadInfo ' + fieldList[i]).hasClass('error1')) {
                    return false;
                }
            }

            return true;
        }




