body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

button {
    cursor: pointer;
}

.navBar {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 60px;
    border-style: none none groove none;
    border-bottom-width: 10px;
    background-color: #333333;
}

.navBar table {
    width: 100%;
    height: 100%;
    padding: 0px;
}

.navButton {
    display: inline-block;
}

button.navButton {
    background-color: #666666;
    color: black;
    border: groove;
    border-radius: 8px;
    border-width: 2px;
    border-color: #888888;
    padding: 15px 20px;
}

button.navButton:hover {
    background-color: #777777;
}

.navButton.homeImg {
    background-image: url("../img/favicon.ico");
    background-repeat: no-repeat;
    background-size: 50px 50px;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.search
{
    display: block;
    width:50px;
    margin:2px 0 20px 10px;
}

.upload {
    display: inline-block;
    margin: 0 auto;
    background-color: #BBBBBB;
    border: groove;
    border-radius: 8px;
    border-width: 2px;
}
.submissions{
    text-align: center;
}

.upload table {
    margin: 0 auto;
}

.error1 {
    border: solid;
    border-width: 2px;
    border-color: #FF0000;
}

body{
    background-image: url(../img/my.jpeg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.login-page{
    width: 360px;
    padding: 10% 0 0;
    margin: auto;
}

.form{
    position: relative;
    z-index: 1;
    background: #ffffff;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
}

.form input{
    font-family: "Roboto", sans-serif;
    outline: 1;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form button{
    font-family: "Roboto, sans-serif";
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
}


.form .register-form{
    display:none
}